language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'

os:
  - linux

sudo: false

install:
  - composer install

script:
  - composer run test -- --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - vendor
